<!--The content below is only a placeholder and can be replaced.-->

<h3 class="component">app-component</h3>
<div style="text-align:center">
  <h1 class="welcome">
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="StogaD Logo" src="../assets/plane.png">
<nav>  
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink = "/planes">AirPlanes</a>

</nav>

</div>

<div>
<!-- <app-airplane></app-airplane> -->
<router-outlet></router-outlet>
<app-messages></app-messages>
</div>
<h2> All arplanes will be displayed soon </h2>

